
/***************************** Top menu section *****************************/

/* Top menu background */
.top-menu-background {
    box-shadow: 0 0.18em 0.18em lightgrey;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.customer-login {
    display: none;
}

@mixin square-container {
    position: absolute;
    border-radius: 0.40em;
    background-color:  #E8E8E8;
    border: 0.125em solid #DADADA;
    padding: 0.62em;
    width: 1.25em;
    height: 1.25em;    
}

@mixin center-position {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger-menu-container {
    @include square-container;
    top: 3%;
    left: 3%;
}

.hamburger-icon {
    @include center-position;
    width: 1.37em;
    height: 1.25em;
}

/* Top menu logo position */
.logo {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 109px;
    height: 36px;
    transform: translate(-50%, -50%);
}

.top-menu {
    display: none;
}

.search-button-container {
    @include square-container;
    top: 3%;
    right: 3%;
}

.search-icon {
    @include center-position;
    width: 1.31em;
    height: 1.37em;
}

.search-wrapper {
    display: none;
}
