@import url(http://fonts.googleapis.com/css?family=Open+Sans); 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************** Comverse logo *****************************/

/* Eliminate non mobile first elements */
.search-wrapper,
.customer-login,
.top-menu {
    display: none;
}

/* Top menu background */
.top-menu-background {
    box-shadow: 0 0.1em 0.18em lightgrey;
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: white;
    z-index: 20;
}

@mixin square-container {
    border-radius: 0.40em;
    background-color:  #E8E8E8;
    border: 0.125em solid #DADADA;
    padding: 0.62em;
    width: 1.25em;
    height: 1.25em;        
}

@mixin center-position {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hamburger-menu-container {
    @include square-container;
    position: absolute;
    top: 0.7em;
    left: 0.7em;
}

.hamburger-icon {
    @include center-position;
    width: 1.37em;
    height: 1.25em;
}

/* Top menu logo position */
.logo {
    position: absolute;
    top: 1.9em;
    left: 50%;
    width: 8.125em;
    height: 2.688em;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-button-container {
    @include square-container;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
}

.search-icon {
    @include center-position;
    width: 1.31em;
    height: 1.37em;
}

/************************** Free Your Markets... *************************/

.free-paragraph {
    position: absolute;
    background-image: url(../img/what_can_background.jpg);
    background-size: cover;
    width: 100%;
    height: 13em;
    top: 1em;
    box-shadow: 0 0.1em 0.18em lightgrey;
    z-index: 17; 

    h1 {
        position: relative;
        top: 2em;
        left: 0.5em;
        font: 1.75em 'Open Sans', sans-serif;
        color: white;
    }

    p {
        position: relative;
        top: 3em;
        left: 0.5em;
        font: 1.2em 'Open Sans', sans-serif;
        color: white;

        span {
            display: block;
        }
    }
}

/******************************* Learn More ******************************/

.learn-more {
    position: absolute;
    background-image: url(../img/luna_park_wheel.jpg);
    background-size: cover;
    width: 100%;
    height: 25em;
    top: 4em;
    z-index: 14;
    box-shadow: 0 0.1em 0.18em lightgrey;
}

.learn-more-button {
    position: relative;
    background-color: #1d8ec6;
    border-radius: 0.375em;
    color: white;
    display: inline-block;
    font: 0.875em/2.5em arial;
    padding: 0 2.500em 0 0.625em;
    text-decoration: none;
    width: 7em;
    height: 2.5em;
    top: 12.5em;
    left: 1em;
    box-shadow: 0 0.06em 0.12em 0 rgba(62, 157, 194, 0.75);
}

.learn-more-button:after {
    content: "\25ba";
    font-size: 1em;
    position: absolute;
    right: 1em;
}

.learn-more-button:active {
    background: #45a3c7;
}

.slideshow-buttons {
    position: relative;
    display: inline-block;
    border-radius: 0.150em;
    width: 1.8em;
    height: 1.8em;
    top: 20em;
    left: 1em;
    background-color: #e5e5e5;
    cursor: pointer;

    a {
        font: 1em 'Open Sans', sans-serif;
        color: #383232;
        text-decoration:none;
        position: relative;
        top: 14%;
        left: 35%;
        -moz-transform: translate(-25%, -35%);
        -ms-transform: translate(-25%, -35%);
        -webkit-transform: translate(-25%, -35%);
        -o-transform: translate(-25%, -35%);
        transform: translate(-25%, -35%);

    }
}

.slideshow-buttons:active {
    background-color: #379fd4;
    
    a {
        font: 1em 'Open Sans', sans-serif;
        color: white;
    }
}

/******************************* Comverse is... ******************************/

.comverse-is-box {
    position: absolute;
    background-color: #D13A85;
    width: 100%;
    height: 12em;
    top: 29.5em;

    p {
        position: relative;
        top: 0.5em;
        left: 0.5em;
        font: 1.6em 'Open Sans', sans-serif;
        color: white;

        span {
            display: block;
        }
    }

    img {
        position: relative;
        top: 3em;
        left: 0.9em;
    }

    a {
        position: relative;
        font: 1em 'Arial', Arial;
        font-weight: bold;
        color: white;
        text-decoration: none;
        top: 2.5em;
        left: 1.2em;
    }

    .promotion {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -95%);
    }
}





